.swiper-container {
    width: 100%;

    border-bottom: 1px solid #EAEAEA;
}
#swiper{
    height: 5.5rem;
}
#swiper img{
    width:100%;
}
#swiper .swiper-slide{
    overflow: hidden;
}
#swiper3{
    height:6rem;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet{
    opacity: 1;
    border:1px solid #303030;
    background: none;
}
.swiper-pagination-bullet-active{
    background: #303030;
}
.shop-content{
    padding:0.2rem 0.3rem;
    box-sizing: border-box;
    color:#303030;
}
.shop-title p{
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 0.36rem;
}
.shop-number{
    display: flex;
    justify-content: space-between;
    padding:0.37rem 0 0.33rem 0;
}
.rmb{
    color:#FF3162;
}
.rmb span{
    font-weight: 700;
    margin-left:0.07rem;
}
.jl-rmb span{
    color:#FF3162;
}
.salse-number{
    color:#838383;
}
#shop-num{
    width:100%;
    padding:0.27rem 0.3rem;
    text-align: center;
    box-sizing: border-box;
}
.showTitleBox{
    width:100%;
}
.showTitle{
    width:33.33%;
    padding:0.29rem 0;
    text-align: center;
    float: left;
    font-size: 12px;
    color:#838383;
}
.active{
    border-bottom:2px solid #FF3366;
    color:#FF3166;
}
.show1{
    width:100%;
}
.show1 img{
    width:100%;
}
.mask{
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left:0;
    top:0;
    z-index: 9999;
    display: none;
}
.box-show{
    position: absolute;
    width:100%;
    left:0;
    bottom:0
}
.shop-showBox{
    width:100%;
    padding:0.41rem 0.28rem 0;
    box-sizing: border-box;
    background: #fff;
    font-size: 16px;
}
.shop-showBox ul li{
    margin-bottom:0.42rem;
    display: flex;
}
.shop-showBox ul li .left{
    margin-right:0.39rem;
}
.shop-showBox ul li .right span{
    display: block;
    width:1.6rem;
    float: left;
}
.shop-showBox p{
    margin-top:0.13rem;
}
.chang-num{
    text-align: right;
    display: flex;
    justify-content: flex-end;
    line-height: 0.47rem;
    padding-bottom:0.3rem;
}
.chang-num img{
    width:0.47rem;
    height:0.47rem;
}
.chang-num span{
    margin:0 0.3rem;
}
.oks{
    width:100%;
    height:0.98rem;
    background: #FF3366;
    color:#fff;
    text-align: center;
    line-height: 0.98rem;
    font-size:16px;
}
.pink{
    color:#FF3366;
}