html,body{
	font-size: 14px;
	font-family: "微软雅黑";
}

i{
	font-style: normal;
}

.box{
	width: 100%;
	height: 100%;
	min-height: 600px;
	padding: 10px;
	overflow: hidden;
	box-sizing: border-box;
}

.location{
	font-size: 18px;
}

.location a{
	font-size: 18px;
	color: #303030;
	text-decoration: none;
}

.location a:hover{
	text-decoration: underline;
}

.account_list{
	border: 1px solid #303030;
	margin-top: 30px;
}

.page{
	width: 100%;
	overflow: hidden;
}

.pager{
	float: right;
	padding-right: 10%;
}

.pager li{
	margin-left: 10px;
}

.pager li a{
	color: #FFFFFF !important;
}

.distribution_form{
  width: 80%;
  margin: 0 10%;
}

.table tr td{
	text-align: center;
	border-color: #303030 !important;
}

.operation a{
	color: #303030;
}

.operation a:hover{
	text-decoration: underline;
	color: #303030;
}

.operation a:first-child{
	margin-right: 5px;
}

.operation a:last-child{
	margin-left: 5px;
}

.account_list_title{
	text-align: center;
	font-size: 16px;
	line-height: 60px;
	margin-top: 10px;
}

.add_background_account{
	height: auto;
	border: 1px solid #303030;
	border-top: 0;
	overflow: hidden;
}

.add_background_account_title{
	text-align: center;
	font-size: 16px;
	line-height: 60px;
	margin-top: 10px;
}

.login_account,.login_password{
	width: 500px;
	margin-left: 35%;
	font-size: 16px;
	margin-top: 30px;
	line-height: 30px;
}

.login_account input,.login_password input{
	width: 400px;
	height: 30px;
	padding-left: 10px;
	float: right;
}

.add_background_account p{
	width: 500px;
	text-align: left;
	margin-left: 35%;
}

.add_background_account p a{
	color: #303030;
	text-decoration: none;
	font-size: 16px;
	line-height: 48px;
}

.add_background_account p a:hover{
	text-decoration: underline;
}

.add_confirm_btn{
	width: 500px;
	height: 30px;
	text-align: center;
	color: #FFFFFF;
	background: #1E9FFF;
	margin-left: 35%;
	line-height: 30px;
	border-radius: 5px;
	cursor: pointer;
}

.add_confirm_btn:hover{
	background: #178FE5;
}

.current_tip{
	width: 500px;
	height: 30px;
	text-align: center;
	margin-left: 35%;
	line-height: 30px;
	color: red;
	/*display: none;*/
}

.box3{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	display: none;
}

.box3 .assign_roles_page{
	width: 300px;
	height: 350px;
	background: #FFFFFF;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -300px;
}

.assign_roles_page_title{
	font-size: 16px;
	line-height: 60px;
	margin-top: 10px;
	text-align: center;
}

.assign_roles_page ul{
	overflow: hidden;
	margin-top: 40px;
}

.assign_roles_page ul li{
	list-style: none;
	line-height: 30px;
	padding-left: 70px;
}

.assign_btn{
	width: 100%;
	height: 30px;
	overflow: hidden;
	position: relative;
	top: 80px;
}

.assign_cancel,.assign_confirm{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	cursor: pointer;
}

.assign_cancel{
	background: #838383;
	float: left;
	margin-left: 20px;
}

.assign_confirm{
	background: #1E9FFF;
	float: right;
	margin-right: 20px;
}

.assign_confirm:hover{
	background: #178FE5;
}
