
body,input,form,p,pre,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
ul,li,ol,dl,dt,dd{
    margin:0;
    padding:0;
    list-style: none;
}

a{
    text-decoration: none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input[type="button"],button,a{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
img{
    border: 0;
}
body,html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    font-family: "苹方","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-user-select:none;
    font-size: 14px;
    background: #fff;
    color:#303030;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

input,textarea{
    outline: none;
}
/*.Bigbox{*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width:100%;*/
    /*height:100%;*/
    /*flex-grow: 1;*/
/*}*/
header{
    width:100%;
    height:0.88rem;
    background:#FF3366;
    display: flex;
    justify-content: space-between;
    padding:0 0.28rem;
    box-sizing: border-box;
    color:#fff;
    line-height: 0.88rem;
    flex:0 0 auto;
    vertical-align: middle;
}
.back{
	line-height: 0.88rem;
	position: relative;
}
.back img{
    width:0.18rem;
    height:0.32rem;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.16rem;
}
.titles{
    font-size: 16px;
    line-height: 0.88rem;
}
.middle{
    overflow: auto;
    flex-grow: 1;
}
.more{
	line-height: 0.88rem;
	padding: 0 0.2rem;
}
.more2{
	line-height: 0.88rem;
	padding: 0 0.2rem;
}
footer{
    height:1rem;
    width:100%;
    flex:0 0 auto;
}
footer ul{
    display: flex;
}
footer ul li{
    width:20%;
    height:100%;
}
footer ul li a{
    display: flex;
    flex-direction: column;
    color:#303030;
    text-align: center;
}
footer ul li a img{
    height:0.43rem;
    width:0.43rem;
    margin:0.1rem auto;
}
.pink{
    color:#FF3366;
}